*{
    box-sizing: border-box;
}
html.body{
 
    overflow-x: hidden;
    font-family: 'Lato',sans-serif;
    color: #505962;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
   
}

.offset:before{
    display: block;
    content: "";
}
/*-----Start Home section ------*/

.carousel-item{
    width: 100%;
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    position: relative;
    background-position: center;
    background-size: cover;

}

.navbar {
    background:rgba(0,0,0,0.6);
    width: 100%;
   
}

.navbar .navbar-brand img{
    width: 70px;
    height: auto;
}
.navbar .nav-logo {
    float: left;
    font-size: 50px;
    font-weight: 1000;
    color: aliceblue;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 20px;
    
    }
   

.navbar-dark .navbar-nav .nav-link{
    color: rgb(219, 181, 77);
    font-weight:bolder;
}


.fa{
    background-color: rgb(65, 46, 11);
    color: aliceblue;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
  
  }

  .btn .fa{
    background-color:rgb(65, 46, 11);
    color: aliceblue;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50%;
  }
  
  .dropdown-item{
      color:rgb(219, 181, 77);
      background-color:rgba(0,0,0,0.8);
      border-bottom: 1px dashed black;
  }
  .dropdown-item:hover{
      color:black;
  }

  .caption{
      
      max-width: 100%;
      position: absolute;
      top:38%;
      z-index: 1;
      color: white;
      text-transform: uppercase;
      margin-left: 35%;
      margin-top: 5%;
      
  }

  .caption .cap-first{
      font-size: 50px;
      font-weight: bolder;
      color: aliceblue;
      text-decoration: none;
 }

  .caption .cap-second{
    font-size: 35px;
    font-weight: bolder;
    color: aliceblue;
    text-decoration: none;
}
/*-----End home section ------*/



 /*-----start project section ------*/
.narrow{
    width: 100%;
    height:400px;
    margin: 1.5rem auto;
    padding-top: 2rem;

}
.narrow h1{
    font-size: 5rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-style: oblique;
    
}

.narrow .lead{
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;
    padding-top: 50px;
}

.btn-secondary{
    border-width: medium;
    border-radius: 0%;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1 rem;
    color:white;
    background-color:rgb(219, 181, 77) ;
    border-color:rgb(219, 181, 77) ;
}
.btn-secondary:hover{
    background-color:rgb(65, 46, 11) ;
    border-color:rgb(65, 46, 11) ;
}
 /*-----End project section ------*/


 /*-----start service section ------*/
 .jumbotron{
     margin-top: 1rem;
     margin-bottom: 0;
     padding: 2rem 0 3.5rem;
     border-radius: 0;
     margin-left: 0.65rem;
     margin-right: 0.65rem;
     
}
 .heading{
     font-size: 2.9rem;
     text-transform: uppercase;
     margin-bottom: 1.5rem;
     font-weight: bolder;
     
 }
.heading-underline{
     width: 5rem;
     height: .2rem;
     background-color: rgb(65, 46, 11);
     margin: 0 auto 2rem;
 }



 .services .fa{
    background-color:rgb(65, 46, 11);
    font-size:30px;
 }
 .services h3{
     font-size: 1.3rem;
     text-transform: uppercase;
     padding-bottom: .4rem;
     padding-top: 1rem;
     font-weight: bold;
 }
 .services p{
     font-size: 1.1rem;
 }
  


 /*-----end service section ------*/

  /*-----start news section ------*/
 .fixed-background{
     background-image: url(../image/1.jpg);
     z-index: -1;
     margin-top: 1rem;
     position: relative;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }
 .fixed-background .heading-underline{
    width: 5rem;
    height: .2rem;
    background-color: rgb(219, 181, 77);
    margin: 0 auto 2rem;

 }
 .dark{
     background-color: rgba(0,0,0,0.75);
     color: white;
     padding: 7rem 2rem;
 }

.fixed-background h3{
    margin-top: 2rem;
}
.fixed-background p{
    margin-top: 1.5rem;
}
 .fixed-background .fa{
     font-size: 60px;
     color:white;
     background-color: rgb(219, 181, 77)rgb(65, 46, 11);
     padding-right:20px;
     padding-left:20px;
     padding-top:20px;
     padding-bottom:20px;
     border-radius:100%;
 }
/*-----end news section ------*/

 /*-----start about section ------*/

.clients img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.clients .col-md-4{
    padding-left: 150px;
}
blockquote .fa{
    background-color:rgb(65, 46, 11) ;
   
}

.about-hr{
    border-top: .05rem solid rgb(219, 181, 77);
}

.clients .col-md-8{
    padding-right: 150px;
}

 /*-----end about section ------*/

 /*-----start footer section ------*/
footer{
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
footer img{
    width: 70px;
    height: auto;
    margin: 2.5rem 0;
    }

    

footer .fa{
    background-color: white;
    color: rgb(65, 46, 11);
    font-size: 1.6rem;
    margin:1.2rem .5rem 0 0;
}
footer .fa:hover{
    color:rgb(219, 181, 77) ;
}

 /*-----end footer section ------*/



 /*-----RESPONSIVE FOR MOBILE ------*/
 @media (max-width: 568px) {
   
.navbar{
    width:100%;
    
}
 /*-----start home section ------*/

.navbar .navbar-brand img{
    width: 25px;
    height: auto;
}
.navbar .navbar-brand img{
    width: 35px;
    height: auto;
}
.navbar .nav-logo {
   font-size: 25px;
}

.caption{
    max-width: 80%;
    position: absolute;
    top:12%;
    margin-left: 28%;
    
}
.caption .cap-first{
    font-size: 15px;
   }

.caption .cap-second{
    font-size: 12px;
    
}

.caption a{
    font-size: 8px; 
    
}
.carousel-inner{
    width: 100%;
}
.carousel-item{
    width: 100%;
    height: 100%;
    
}
 /*-----end home section ------*/


  /*-----start project section ------*/

.narrow{
    width: 100%;
    height: fit-content;
   
}
.narrow h1{
    font-size: 2rem;
}
.narrow .lead{
    font-size:large;
    
}


    /*-----end project section ------*/

/*-----start project section ------*/
 /*-----end project section ------*/

 }